@import './vendor/nll-css';

/* Base Sizing */
body {
  font-size: var(--font-size);
  font-family: 'Lato', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

:root {
  --size: 1rem;
}

/* Fluid Size Scaling */
@media (min-width: 40em) and (max-width: 75em) {
  :root {
    --size: calc(1rem + 0.5 * (100vw - 40rem) / (75 - 40));
  }
}

/* Large and Up */
@media (min-width: 75em) {
  :root {
    --size: 1.5rem;
  }
}
