@import './vendor/nll-css';

:root {
  --breakpoint-sm: 320px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
}

/* Smallest screens */
body {
  font-size: 2rem;
}

:root {
  --size-base: 2px;
}

/* Small to Medium */
@media (min-width: 320px) {
  :root {
    --size-base: 1px;
  }
  body {
    font-size: 1rem;
  }
}
