@import './vendor/nll-css';

/* Base Sizing */
body {
  font-size: var(--font-size);
}

:root {
  --size: 1.2rem;
}

/* Small and Up */
@media (min-width: 50em) {
  :root {
    --size: 1rem;
  }
}

/* Medium and Up */
@media (min-width: 70em) {
  :root {
    --size: 1rem;
  }
}

/* Large and Up */
@media (min-width: 90em) {
  :root {
    --size: 1rem;
  }
}
