.form-select {
}

.form-select-label {
}

.form-select-label > span {
  font-size: var(--font-size-down-3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-select-label-message {
}

.form-select-select,
.form-select-label {
  transition: var(--transition-1);
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}

.form-select-select:focus,
.form-select-label:focus {
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}

.form-select-select {
  width: 100%;
}

.form-select-select:focus {
  outline: none;
}

.form-select-hint {
  font-size: var(--font-size-down-5);
}

.form-select-error {
  font-size: var(--font-size-down-5);
}
