.form-input {
}

.form-input-label {
  cursor: text;
}

.form-input-label > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-input-label-message {
}

.form-input-input,
.form-input-label {
  transition: var(--transition-tc);
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}

.form-input-input:focus,
.form-input-label:focus {
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}

.form-input-input {
}

.form-input-input:focus {
  outline: none;
}

.form-input-hint {
}

.form-input-error {
}
