.page-test {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}

.test-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--margin-size-4);
}
.gs-2 {
  grid-column: span 1;
}

@media (min-width: 50em) {
  .test-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .gs-2 {
    grid-column: span 2;
  }
}
