.page-home {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

/* Schotter wraps the main block in an article tag */
.page-home article {
  max-width: 80vh;
  max-height: 80vh;
  width: 80vw;
}
